# nginx 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-green-app # the name must be unique
  labels: 
    app: myapp         # we use the same app label to identify our app and make it easier for the service to select pods
spec:
  replicas: 2
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp

    spec:
      containers:
      - name: nginx-cont 
        image: nginx:latest 

        ports:
        - containerPort: 80
