- name: Update apt cache (debug)
  apt:
    update_cache: yes
  register: apt_result
- debug:
    var: apt_result

# install pip to be able to use pip module to install python packages like google-auth and requests
- name: Install pip 
  apt: 
    name: python3-pip 
    state: present
# Step 0: Install required python packages via pip to handle GCP authentication
- name: Use pip to install request and google-auth 
  pip: 
    name: 
      - requests 
      - google-auth
# # Step 1: Ensure remote directory exists
# - name: Ensure remote credentials directory exists
#   file:
#     path: "{{ service_account_path_server }}"   # should be directory, e.g. /opt/credentials
#     state: directory
#     owner: root
#     group: root
#     mode: "0755"
# # Step 2: Copy the service account file from local to remote
# - name: Copy service account file from local to remote
#   copy:
#     src: "{{ service_account_path_local }}"             # local path
#     dest: "{{ service_account_path_server }}/serviceaccount.json"   # remote path
#     owner: root
#     group: root
#     mode: "0600"
#     force: yes                                        # overwrite if exists
#   # delegate_to: localhost