apiVersion: v1
kind: Service
metadata:
  name: my-app-svc
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
  - port: 80     # this is the port that the service will expose in the cluster 
    targetPort: 80 # this is the port on the Pod that the service will forward traffic to
    nodePort: 30009 # this is the port on each Node where the service can
