# nginx 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-hpa-dpl # the name must be unique
  labels: 
    app: my-app         # we use the same app label to identify our app and make it easier for the service to select pods
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: nginx-container 
        image: nginx:latest
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            cpu: "500m"
            memory: "1Gi" 
        ports:
        - containerPort: 80
